In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head(5)
df.shape

(891, 12)

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df[df['Embarked'].isnull()] ##MACR (Missing completely at random)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [6]:
##MNAR #missing not at random
import numpy as np
df['cabin_null'] = np.where(df['Cabin'].isnull(),1,0)
df['cabin_null'].mean()*100

77.10437710437711

In [7]:
df.groupby(['Survived'])['cabin_null'].mean()
##from survived 60% does have missing values and from non survived 87% have missing missing value

Survived
0    0.876138
1    0.602339
Name: cabin_null, dtype: float64

#MAR missing at random
#poeple hiding information

### ALl the techniques of handling missing values
###  Mean, median mode replacement
### random sample imputation
### Capturing nan values with a new feature
### End of Distribution imputation
### Arbitrary imputaution
### Frequent categories imputatuion

##Mean/median/mode impletation
When??
Mean/median imputation has the asssumption that the data are missing completely at random(MACR)
We solve this by replacing the NAN with the most frequent occurance of the variable.

In [9]:
df = pd.read_csv('titanic.csv',usecols=['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [10]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [11]:
def imputer_nan(df,variable,median):
    df[variable +'_median']=df[variable].fillna(median)

In [12]:
median=df.Age.median()
median

28.0

In [13]:
imputer_nan(df,'Age',median)

In [15]:
df.head()

   Survived   Age     Fare  Age_median
0         0  22.0   7.2500        22.0
1         1  38.0  71.2833        38.0
2         1  26.0   7.9250        26.0
3         1  35.0  53.1000        35.0
4         0  35.0   8.0500        35.0

#### Advantages and disadvantages of Mean/Median Imputation
<h3>Advantages</h3>
1 East to implement (Robust to outliers)

2 Faster way to obtain the complete dataset
<h3>Disadvantages</h3>
1 Change or distortion in the original variance

2 It impacts correlation